<h1 class="is-size-3 has-text-centered mb-5">Liste des utilisateurs</h1>

<table class="table centered is-fullwidth is-narrow is-striped">
    <thead>
        <tr>
            <th>Photo de profil</th>
            <th>Nom d'utilisateur</th>
            <th>E-mail</th>
            <th>Tâches en cours</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | async">
            <td class="is-flex is-justify-content-center">
                <figure class="image is-48x48">
                    <img class="is-rounded" [src]="getImg(user)" alt="Placeholder image">
                </figure>
            </td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ (getUserTasks(user) | async)?.length }}</td>
            <td>
                <a [routerLink]="'view/' + user.id!" class="button is-small is-info">
                    <fa-icon icon="list"></fa-icon>
                </a>
            </td>
        </tr>
    </tbody>
</table>
