<header>
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a routerLink="" class="navbar-item has-text-weight-bold">Todo List Per User</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="appNav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="appNav" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a routerLink="users" class="navbar-link">
                        Utilisateurs
                    </a>
                    <div class="navbar-dropdown">
                        <a routerLink="users" class="navbar-item">
                            Liste des utilisateurs
                        </a>
                        <a routerLink="users/add" class="navbar-item">
                            Ajouter un utilisateur
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
