/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
$navbar-breakpoint: $tablet;

@import "../node_modules/bulma/sass/elements/table.sass";
$table-cell-text-align: center;

@import "../node_modules/bulma/bulma.sass";
@import '@creativebulma/bulma-collapsible';

.card-footer {
    border-top: none;
}

table {
    border-collapse: separate;

    &.table td {
        vertical-align: middle;

        .button.is-inverted {
            background-color: transparent;
        }
    }

    &.table.centered {
        @extend .table;

        td {
            @extend .has-text-centered;
        }
    }
}

figure.image img {
    height: 100%;
    object-fit: cover;
}

.card-header:not(.is-active) {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
