/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
$navbar-breakpoint: $tablet;

@import "../node_modules/bulma/sass/elements/table.sass";
$table-cell-text-align: center;

@import "../node_modules/bulma/bulma.sass";
@import '@creativebulma/bulma-collapsible';

@mixin collapse-icon($angle: 0deg) {
    fa-icon {
        transition: transform .15s;
        transform: rotate($angle);
    }
}

.is-flex-desktop {
    @extend .is-flex;

    @include until($tablet) {
        display: initial !important;
    }
}

.mt-6-desktop {
    @extend .mt-6;

    @include until($tablet) {
        margin-top: 0 !important;
    }
}

.card-footer {
    border-top: none;
}

.card-header{
    cursor: pointer;

    :not(.is-active) {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}

[data-action="collapse"] {

    &.is-active {
        @include collapse-icon(90deg);
    }

    &:not(.is-active) {
        @include collapse-icon();
    }
}

html, body {
    position: relative;
    height: auto;
    min-height: 100vh;
}

table {
    border-collapse: separate;

    &.table td {
        vertical-align: middle;

        .button.is-inverted {
            background-color: transparent;

            &:hover {
                background-color: transparent;
                color: #3488ce;
            }
        }
    }

    &.table.centered {
        @extend .table;

        td {
            @extend .has-text-centered;
        }
    }
}

figure.image img {
    height: 100%;
    object-fit: cover;
}

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%
}
