<h1 *ngIf="user !== null" class="is-size-3 has-text-centered mb-5">Profil utilisateur de {{ user.username }}</h1>

<div class="columns">
    <div class="column" *ngIf="user !== null">
        <div class="box">
            <div class="columns is-mobile">
                <div class="column is-narrow">
                    <figure class="image is-128x128">
                        <img class="is-rounded" [src]="getImg(user)" alt="Placeholder image">
                    </figure>
                </div>
                <div class="column is-flex is-flex-direction-column is-justify-content-center">
                    <p class="is-size-4">{{ user.username }}</p>
                    <p class="is-size-6">{{ user.email }}</p>
                </div>
                <div class="column is-narrow">
                    <a class="has-text-info" [routerLink]="'/users/edit/' + user.id">
                        <fa-icon icon="pen-to-square"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="block">
            <span class="is-size-5 has-text-weight-bold">Liste des tâches</span>
            <hr class="my-3">
            <div class="level is-mobile">
                <div class="level-left is-align-items-baseline">
                    <div class="field-label is-small is-flex-grow-0 mr-5 pt-0">
                        <label class="label">Filtrer</label>
                    </div>
                    <div class="select is-small">
                        <select [(ngModel)]="filterCategory">
                            <option [ngValue]="null">Toutes les catégories</option>
                            <option *ngFor="let category of categories | async" [ngValue]="category">{{ category.label }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card block has-background-info-light">
                <header class="card-header" href="#tasksToComplete" (click)="toggleCollapsible($event)" data-action="collapse">
                    <span class="card-header-title has-text-weight-semibold">En cours</span>
                    <button class="card-header-icon">
                        <fa-icon class="has-text-info" icon="angle-right"></fa-icon>
                    </button>
                </header>
                <div id="tasksToComplete" class="is-collapsible">
                    <div class="card-content px-0 py-1">
                        <table *ngIf="(filterTasks(false) | async)?.length! > 0" class="table is-fullwidth has-background-info-light">
                            <tbody>
                                <tr *ngFor="let task of filterTasks(false) | async">
                                    <td>{{ task.name }}</td>
                                    <td class="is-italic" style="width: 45%">{{ (getTaskCategory(task.categoryId) | async)?.label }}</td>
                                    <td style="width: 10%">
                                        <div class="level is-mobile">
                                            <a class="level-item has-text-info mr-2" [routerLink]="'/tasks/edit/' + task.id">
                                                <fa-icon icon="pen-to-square"></fa-icon>
                                            </a>
                                            <a class="level-item has-text-danger js-modal-trigger" [attr.data-target]="'confirmDelete' + task.id">
                                                <fa-icon icon="trash"></fa-icon>
                                            </a>
                                        </div>
                                    </td>
                                    <div [id]="'confirmDelete' + task.id" class="modal">
                                        <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head">
                                                <p class="modal-card-title">Suppression d'une tâche</p>
                                                <button class="delete" aria-label="close"></button>
                                            </header>
                                            <section class="modal-card-body">
                                                Voulez-vous vraiment supprimer cette tâche ?
                                            </section>
                                            <footer class="modal-card-foot is-justify-content-end">
                                                <button class="button" aria-label="close">Annuler</button>
                                                <button class="button is-danger" aria-label="close" (click)="deleteTask(task.id!)">Supprimer</button>
                                            </footer>
                                        </div>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                        <p class="py-2 has-text-centered is-italic" *ngIf="(filterTasks(false) | async)?.length! === 0">
                            Aucune tâche
                        </p>
                    </div>
                </div>
            </div>
            <div class="card has-background-success-light">
                <header class="card-header" href="#tasksCompleted" (click)="toggleCollapsible($event)" data-action="collapse">
                    <span class="card-header-title has-text-weight-semibold">Terminées</span>
                    <button class="card-header-icon">
                        <fa-icon class="has-text-info" icon="angle-right"></fa-icon>
                    </button>
                </header>
                <div id="tasksCompleted" class="is-collapsible">
                    <div class="card-content px-0 py-1">
                        <table *ngIf="(filterTasks(true) | async)?.length! > 0" class="table is-fullwidth has-background-success-light">
                            <tbody>
                                <tr *ngFor="let task of filterTasks(true) | async">
                                    <td>{{ task.name }}</td>
                                    <td class="is-italic" style="width: 45%">{{ (getTaskCategory(task.categoryId) | async)?.label }}</td>
                                    <td style="width: 10%">
                                        <div class="level is-mobile">
                                            <a class="level-item has-text-info mr-2" [routerLink]="'/tasks/edit/' + task.id">
                                                <fa-icon icon="pen-to-square"></fa-icon>
                                            </a>
                                            <a class="level-item has-text-danger js-modal-trigger" [attr.data-target]="'confirmDelete' + task.id">
                                                <fa-icon icon="trash"></fa-icon>
                                            </a>
                                        </div>
                                    </td>
                                    <div [id]="'confirmDelete' + task.id" class="modal">
                                        <div class="modal-background"></div>
                                        <div class="modal-card">
                                            <header class="modal-card-head">
                                                <p class="modal-card-title">Suppression d'une tâche</p>
                                                <button class="delete" aria-label="close"></button>
                                            </header>
                                            <section class="modal-card-body">
                                                Voulez-vous vraiment supprimer cette tâche ?
                                            </section>
                                            <footer class="modal-card-foot is-justify-content-end">
                                                <button class="button" aria-label="close">Annuler</button>
                                                <button class="button is-danger" aria-label="close" (click)="deleteTask(task.id!)">Supprimer</button>
                                            </footer>
                                        </div>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                        <p class="py-2 has-text-centered is-italic" *ngIf="(filterTasks(true) | async)?.length! === 0">
                            Aucune tâche
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
