<h1 *ngIf="user !== null" class="is-size-3 has-text-centered mb-5">Profil utilisateur de {{ user.username }}</h1>

<div class="columns">
    <div class="column" *ngIf="user !== null">
        <div class="box">
            <div class="columns is-mobile">
                <div class="column is-narrow">
                    <figure class="image is-128x128">
                        <img class="is-rounded" [src]="getImg(user)" alt="Placeholder image">
                    </figure>
                </div>
                <div class="column is-flex is-flex-direction-column is-justify-content-center">
                    <p class="is-size-4">{{ user.username }}</p>
                    <p class="is-size-6">{{ user.email }}</p>
                </div>
                <div class="column is-narrow">
                    <a class="has-text-info" [routerLink]="'/users/edit/' + user.id">
                        <fa-icon icon="pen-to-square"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="block">
            <span class="is-size-5 has-text-weight-bold">Liste des tâches</span>
            <hr class="my-3">
            <div class="card block has-background-info-light">
                <header class="card-header" href="#tasksToComplete" (click)="toggleCollapsible($event)" data-action="collapse">
                    <span class="card-header-title has-text-weight-semibold">En cours</span>
                    <button class="card-header-icon">
                        <fa-icon class="has-text-info" icon="angle-right"></fa-icon>
                    </button>
                </header>
                <div id="tasksToComplete" class="is-collapsible">
                    <div class="card-content px-0 py-1">
                        <table *ngIf="(filterTasks(false) | async)?.length! > 0" class="table is-fullwidth has-background-info-light">
                            <tbody>
                                <tr *ngFor="let task of filterTasks(false) | async">
                                    <td>{{ task.name }}</td>
                                    <td class="is-italic" style="width: 45%">{{ (getTaskCategory(task.categoryId) | async)?.label }}</td>
                                    <td style="width: 10%">
                                        <a class="has-text-info" [routerLink]="'/tasks/edit/' + task.id">
                                            <fa-icon icon="pen-to-square"></fa-icon>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="py-3 has-text-centered is-italic" *ngIf="(filterTasks(false) | async)?.length! === 0">
                            Aucune tâche
                        </p>
                    </div>
                </div>
            </div>
            <div class="card has-background-success-light">
                <header class="card-header" href="#tasksCompleted" (click)="toggleCollapsible($event)" data-action="collapse">
                    <span class="card-header-title has-text-weight-semibold">Terminées</span>
                    <button class="card-header-icon">
                        <fa-icon class="has-text-info" icon="angle-right"></fa-icon>
                    </button>
                </header>
                <div id="tasksCompleted" class="is-collapsible">
                    <div class="card-content px-0 py-1">
                        <table *ngIf="(filterTasks(true) | async)?.length! > 0" class="table is-fullwidth has-background-success-light">
                            <tbody>
                                <tr *ngFor="let task of filterTasks(true) | async">
                                    <td>{{ task.name }}</td>
                                    <td class="is-italic" style="width: 45%">{{ (getTaskCategory(task.categoryId) | async)?.label }}</td>
                                    <td style="width: 10%">
                                        <a class="has-text-info" [routerLink]="'/tasks/edit/' + task.id">
                                            <fa-icon icon="pen-to-square"></fa-icon>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="py-3 has-text-centered is-italic" *ngIf="(filterTasks(true) | async)?.length! === 0">
                            Aucune tâche
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
